<div class="section">


  <div class="w3-row w3-row-padding	">
    <div #canvasWrapper class="w3-col">
      <canvas #canvas></canvas>
    </div>
    <div style="display:none">
      <canvas #canvasHidden></canvas>
    </div>

  </div>
  <div class="w3-row-padding	">

    <div class="w3-col m1 l1 ">

      <select  class="w3-select" [(ngModel)]="windowsCount" (change)="initWindowArray($event.target.value)">
        <option *ngFor="let i of doors">{{i}}</option>
      </select>

    </div>
    <div class="w3-col m2 l2">
      <input class="w3-input" [disabled]="!proportialWidth" [(ngModel)]="totalWidth" placeholder="Total width" size="15" type="number">
    </div>
    <div class="w3-col m2 l2">
      <input class="w3-input" [(ngModel)]="totalHeight" placeholder="Total Height" size="15" type="number">
    </div>
    <div class="w3-col m2 l2">
      <select  class="w3-select"  *ngIf="config" [(ngModel)]="selected.selectedOutsideProfiles">
        <option [ngValue]="i" *ngFor="let i of config.outsideProfiles">{{i.title}}</option>
      </select>
    </div>
    <div class="w3-col m2 l2">
      <select  class="w3-select" *ngIf="config" [(ngModel)]="selected.selectedPartitionProfile">
        <option [ngValue]="i" *ngFor="let i of config.partitionProfile">{{i.title}}</option>
      </select>
    </div>
    <div class="w3-col m2 l2">
      <select  class="w3-select" *ngIf="config" [(ngModel)]="selected.selectedDoorProfile">
        <option [ngValue]="i" *ngFor="let i of config.doorProfile">{{i.title}}</option>
      </select>
    </div>

  </div>
  <br>
  <div class="w3-row-padding">
    <div class="w3-col m8 l8">&nbsp;
    </div>
    <div class="w3-col m2 l2">
      <div class="toggle-switch">
        <!-- <input  [(ngModel)]="proportialWidth" id="switch-id" type="checkbox"> -->
        <dx-switch [(ngModel)]="proportialWidth"></dx-switch>
      </div>
    </div>
    <div class="w3-col m2 l2">
      <button mz-button (click)="recountObjects($event)">
        button
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <section *ngIf="canShowDiagram">
        <table class="w3-table w3-striped w3-bordered w3-border	">
          <tr>
            <th>Width</th>
            <th>Width</th>
          </tr>



          <tr *ngFor="let i of windowsAr">
            <td>
              <input [disabled]="proportialWidth" class="w3-input w3-border" [(ngModel)]="i.factorialLenght" type="text" />
            </td>
            <td>

            </td>
          </tr>
        </table>
      </section>
    </div>
  </div>


  <!-- <button (click)="clearCanvas()">Clear</button> -->
  <!-- <button (click)="pDrowWindow(0,0)">drow</button> -->
</div>