<div class="section">


  <div class="row">
    <div #canvasWrapper class="col s12 m12">
      <canvas #canvas></canvas>
    </div>
    <div style="display:none">
      <canvas #canvasHidden></canvas>
    </div>

  </div>
  <div class="row">

    <mz-select-container class="col s1 m1">
      <select mz-select [(ngModel)]="windowsCount" (change)="initWindowArray($event.target.value)" [label]="'Windows'" [placeholder]="'Select count'">
        <option *ngFor="let i of doors">{{i}}</option>
      </select>
    </mz-select-container>
    <mz-input-container class="col s1 m1">

      <input mz-input [disabled]="!proportialWidth" [(ngModel)]="totalWidth" [label]="'Total Width'" [validate]="false" [dataError]="'Email is invalid'" [dataSuccess]="'Email is valid'"
        placeholder="Enter Total width" type="number">
    </mz-input-container>
    <mz-input-container class="col s1 m1">

      <input mz-input [(ngModel)]="totalHeight" [label]="'Total Height'" [validate]="false" [dataError]="'Email is invalid'" [dataSuccess]="'Email is valid'"
        placeholder="Enter Total Height" type="number">
    </mz-input-container>
    <mz-select-container class="col s2 m2" *ngIf="config">
      <select mz-select [(ngModel)]="selected.selectedOutsideProfiles" [label]="'Main profile'" [placeholder]="'Select Profile'">
        <option [ngValue]="i" *ngFor="let i of config.outsideProfiles">{{i.title}}</option>
      </select>
    </mz-select-container>
    <mz-select-container class="col s2 m2" *ngIf="config">
      <select mz-select [(ngModel)]="selected.selectedPartitionProfile" [label]="'Partition profile'" [placeholder]="'Select Profile'">
        <option [ngValue]="i" *ngFor="let i of config.partitionProfile">{{i.title}}</option>
      </select>
    </mz-select-container>
    <mz-select-container class="col s2 m2" *ngIf="config">
      <select mz-select [(ngModel)]="selected.selectedDoorProfile" [label]="'Door profile'" [placeholder]="'Select Profile'">
        <option [ngValue]="i" *ngFor="let i of config.doorProfile">{{i.title}}</option>
      </select>
    </mz-select-container>

  </div>
  <div class="row">
    <div class="col s8 m8">
    </div>
    <div class="col s2 m2">
        <mz-switch-container>
            <input mz-switch
            [(ngModel)]="proportialWidth"
            
              id="switch-id"
              [off]="'Cus'"
              [on]="'Prop'"
              type="checkbox">

          </mz-switch-container>
    </div>
    <div class="col s2 m2">
      <button mz-button (click)="recountObjects($event)">
        button
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <section *ngIf="canShowDiagram">
        <table class="striped bordered">
          <tr>
            <th >Width</th>
            <th>Width</th>
          </tr>
         
            
         
          <tr *ngFor="let i of windowsAr">
            <td>
                <input [disabled]="proportialWidth" class="input-in-table" [(ngModel)]="i.factorialLenght" type="text" />
            </td>
            <td>
             
            </td>
          </tr>
        </table>
      </section>
    </div>
  </div>


  <!-- <button (click)="clearCanvas()">Clear</button> -->
  <!-- <button (click)="pDrowWindow(0,0)">drow</button> -->
</div>