<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" [hidden]="!showMenu" id="mySidebar">
    <button (click)="showMenu = !showMenu" class="w3-bar-item w3-large">Close &times;</button>
    <a  routerLink="/dashboard" routerLinkActive="active" class="w3-bar-item w3-button">
        <i class="fa fa-window-restore"></i>

        {{ 'dashboard' | translate }}
    </a>
    <a  routerLink="/settings" routerLinkActive="active" class="w3-bar-item w3-button">
        <i class="fa fa-cogs"></i>

        {{ 'settings' | translate }}
    </a>
    <br />
    <a *ngFor="let lang of translate.getLangs()"  class="w3-bar-item w3-button" (click)="translate.use(lang)" >{{lang}}</a>
    
</div>

<!-- Page Content -->
<div class="w3-bar">
    <button class="w3-bar-item w3-xlarge" (click)="showMenu = !showMenu">☰</button>
    <div class="w3-bar-item">
        <h3>My Page</h3>
    </div>
</div>
<div class="content-area">
    <router-outlet></router-outlet>
</div>